[Unit]
Description=Temperature monitoring program and provide automation on temperature extremes
After=network.target
Documentation="https://github.com/dramirezRT/temp_log_app.git"

[Service]
Type=simple
ExecStart=/usr/bin/temp-monitor
WorkingDirectory=/etc/temp-monitor/
Restart=always
StandardOutput=file:/etc/temp-monitor/temps.log
StandardError=file:/etc/temp-monitor/extremes.log


[Install]
WantedBy=multi-user.target